*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121316;
  background-image: url("img/background.svg");
  background-position: center;
  color: white;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

main {
  max-width: 1200px;
  padding: 0 3%;
  margin: 0 auto;
}

h1 {
  margin: 1.2em 0;
}

h2 {
  color: #f6c417;
  margin-top: 1.2em;
}

h3 {
  margin-top: 0;
}

.icon {
  height: 1.5em;
  margin-right: 0.5em;
}

a, a:visited, a:focus {
  color: inherit;
}

.box {
  background-color: #191b1e;
  border: 1px solid #2b2d32;
  padding: 1em 1.4em;
  margin: 0.8em 0;
}

.project-item {
  margin: 0;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5em;
  row-gap: 1.3em;
}

@media (max-width: 900px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}

.collection-item {
  display: inline-flex;
  align-items: center;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  padding: 0.7em 1.2em;
  line-height: 2.2em;
  gap: 2em;
}

.title-nick {
  font-size: 70%;
  font-weight: 400;
  color: #f6c417
}

.credits {
  margin: 2em 1em;
}
